* {
    background-color: #1B294B;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #FFB95A;
}

.recipe-title {
    font-style: italic;
    text-align: center;
}

.dish-image {
    width: 300px;
    display: block;
    margin: auto;
}